/var/log/asterisk/backup*.log {
    weekly
    missingok
    rotate 1
    maxage 7
    su asterisk asterisk
}
/var/log/asterisk/core*.log /var/log/asterisk/freepbx*.log /var/log/asterisk/asterisk*.log /var/log/asterisk/debug /var/log/asterisk/messages /var/log/asterisk/full /var/log/asterisk/*_log {
    daily
    missingok
    rotate 3
    sharedscripts
    su asterisk asterisk
    postrotate
        cd /home/asterisk && /usr/sbin/invoke-rc.d asterisk logger-reload > /dev/null 2> /dev/null
    endscript
}
